@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,400&family=Source+Sans+Pro:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.combinenav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #203a6d;
    position: relative;
}
.logo{
    margin-left: 1rem;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
ul{
    display: flex;
    margin: 25px;
    list-style: none;
}
li{
    margin: 0 1rem;
    color: #182334;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}